.div {
  height: 100px;
  width: 100px;
  background-color: red;
}

.my-class {
  position: absolute;
  left: 50%;
  transform: translateX(-50%, -50%);
  text-align: center;
}

.my-class2 {
  background: green;
}

.button {
  background-color: red;
  color: white;
}

.container {
  display: flex;
}
.menu-wrapper {
  display: flex;
  flex-direction: column;
}
